<div class="row">
  <div class="col-md-6">
    <h3>Thu 2 March</h3>
    <h4>
      Lessons 
      <a href="https://swcarpentry.github.io/shell-novice/" target="_blank" rel="noopener noreferrer"> The Unix Shell</a> and
      <a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank" rel="noopener noreferrer"> Plotting and Programming in Python</a> (Part I) 
    </h4>
    <table class="table table-striped">
      <tr> <td>Before</td> <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop survey</a> </td> </tr>
      <tr> <td>09:00</td>  <td><b>Shell</b>: make sure you checked your <a href="https://swcarpentry.github.io/shell-novice/setup.html" target="_blank" rel="noopener noreferrer">setup</a> </td> </tr>
      <tr> <td>     </td>  <td><b>Shell 1/2</b>: <a href="https://swcarpentry.github.io/shell-novice/01-intro/index.html" target="_blank" rel="noopener noreferrer">Episodes 1 to 4</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><b>Shell 2/2</b>: <a href="https://swcarpentry.github.io/shell-novice/05-loop/index.html" target="_blank" rel="noopener noreferrer">Episodes 5 to 7</a> </td> </tr>
      <tr> <td>12:30</td>  <td><b>Python</b>: make sure you checked your <a href="http://swcarpentry.github.io/python-novice-gapminder/setup.html" target="_blank" rel="noopener noreferrer">setup</a> </td> </tr>
      <tr> <td>     </td>  <td><b>Python 1/5</b>: <a href="http://swcarpentry.github.io/python-novice-gapminder/01-run-quit/index.html" target="_blank" rel="noopener noreferrer">Episodes 1 to 3</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:45</td>  <td><b>Python 2/5</b>: <a href="http://swcarpentry.github.io/python-novice-gapminder/04-built-in/index.html" target="_blank" rel="noopener noreferrer">Episodes 4 to 8</a> </td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td><b>Python 3/5</b>: <a href="http://swcarpentry.github.io/python-novice-gapminder/09-plotting/index.html" target="_blank" rel="noopener noreferrer">Episode 9</a> </td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>    
    </table>
  </div>
  <div class="col-md-6">
    <h3>Fri 3 March</h3>
     <h4>
      Lessons 
      <a href="https://swcarpentry.github.io/git-novice/" target="_blank" rel="noopener noreferrer"> Version Control with Git</a> and  
      <a href="http://swcarpentry.github.io/python-novice-gapminder/" target="_blank" rel="noopener noreferrer"> Plotting and Programming in Python</a> (Part II)
    </h4>
    <table class="table table-striped">
      <tr> <td>09:00</td>  <td><b>Git</b>: make sure you checked your <a href="https://swcarpentry.github.io/git-novice/setup.html" target="_blank" rel="noopener noreferrer">setup</a> </td> </tr>
      <tr> <td>     </td>  <td><b>Git 1/2</b>: <a href="https://swcarpentry.github.io/git-novice/01-basics/index.html" target="_blank" rel="noopener noreferrer">Episodes 1 to 6</a> </td> </tr>
      <tr> <td>10:30</td>  <td>Morning break</td> </tr>
      <tr> <td>10:45</td>  <td><b>Git 2/2</b>: <a href="https://swcarpentry.github.io/git-novice/07-github/index.html" target="_blank" rel="noopener noreferrer">Episodes 7 to 9</a> </td> </tr>
      <tr> <td>13:00</td>  <td>Lunch break</td> </tr>
      <tr> <td>13:45</td>  <td><b>Python 4/5</b>: <a href="http://swcarpentry.github.io/python-novice-gapminder/11-lists/index.html" target="_blank" rel="noopener noreferrer">Episodes 11 to 14</a></td> </tr>
      <tr> <td>15:30</td>  <td>Afternoon break</td> </tr>
      <tr> <td>15:45</td>  <td><b>Python 5/5</b>: <a href="http://swcarpentry.github.io/python-novice-gapminder/16-writing-functions/index.html" target="_blank" rel="noopener noreferrer">Episodes 16 to 18</a> </td> </tr>
      <tr> <td>16:45</td>  <td>Wrap-up/Feedback</td> </tr>
      <tr> <td>     </td>  <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td> </tr>
      <tr> <td>17:00</td>  <td>END</td> </tr>    
    </table>
  </div>
</div>
